@import url("https://fonts.googleapis.com/css?family=Poppins");

/* BASIC */

html {
  background-color: #3b5998;
}

.red_tag {
  background: #f44336;
  color: #fff;
  padding: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #cccccc;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
  color: #cccccc !important;
}

h2.active {
  color: #0d0d0d !important;
  border-bottom: 2px solid #5fbae9;
}

h2 {
  cursor: pointer;
}

/* FORM TYPOGRAPHY*/

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #3b5998;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #39ace7;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type="text"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 60%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="password"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 60%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type="password"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type="text"]:placeholder {
  color: #cccccc;
}

input[type="password"]:placeholder {
  color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
adeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}

/* * {
  box-sizing: border-box;
} */

/*============= LOGIN ================================================================================================== */

#login_error {
  color: red;
}

#login_error_success {
  color: green;
}

/* ========================== LOADER ==================================================================================*/

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ebebeb;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: "";
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ========================= HEADER ===========================================================================================================*/
#username {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  #username {
    font-size: 15px;
    padding-top: 5px;
  }
}

header {
  padding-top: 5px;
  background: #3b5998;
  position: relative;
}

header .logo {
  text-align: center;
  font-size: 30px;
  font-family: "Ranga", cursive;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  display: block;
}

header .open_nav {
  position: absolute;
  left: 0px;
}

header .sideItem {
  font-weight: 300;
  font-size: 12px;
  color: #bababa;
  padding: 0 10 0 10px;
  border-top: 1px solid #404040;
}

header .sideItem :hover {
  background-color: black;
}

header .sideItem a {
  color: inherit;
  text-decoration: none;
  padding: 10px;
}

header .sideItem span {
  color: white;
  margin-right: 50px;
}

#icons {
  margin-right: 20px;
}

/* ================================================= SECONDARY NAVBAR* ===================================================================/

/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

h1 {
  font-size: 60px;
  text-align: center;
  color: #fff;
}

h3 {
  font-size: 30px;
  text-align: center;
  color: #fff;
}

h3 a {
  color: #fff;
}

a {
  color: #fff;
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  font-family: "Bree Serif", "serif";
}

#container {
  margin: 0 auto;
}

p {
  text-align: center;
}

nav {
  background-color: #3b5998;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  text-align: center;
}

nav ul li {
  display: inline-block;
  background-color: #3b5998;
}

nav a {
  padding: 0 10px;
  color: #fff;
  line-height: 60px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #f5f5f578;
}

/* Hide Dropdowns by Default */
nav ul ul {
  display: none;
  position: absolute;
  top: 60px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: block;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

/* Second, Third and more Tiers	*/
/* nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
} */

/* Change this in order to change the Dropdown symbol */
li > a:after {
  content: " +";
}
li > a:only-child:after {
  content: "";
}

/* ========================================= ITEMS ============================== */

.book_item {
  border-bottom: 1px solid #7a7e82;
  box-sizing: border-box;
  padding: 10px 20px;
  display: block;
  background: #f2f2f2;
}

.book_item .book_header h2 {
  font-size: 20px;
  color: #686868;
  margin: 4px 0px 0px 0px;
  font-weight: 300;
}

.book_item .book_bubble {
  background: #e91e63;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 11px;
  margin-right: 5px;
  color: #fff;
}

.book_item .book_publisher {
  background: #5f5f5f !important;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 11px;
  color: #fff;
}

.book_item .book_author {
  color: #5f5f5f;
  font-weight: 700;
}

#check {
  color: green;
  float: right;
  cursor: pointer;
}

#times {
  color: red;
  padding-right: 30px;
  float: right;
  cursor: pointer;
}

.book_item .book_items {
  font-size: 13px;
}

.book_item .book_items strong {
  color: #ffffff;
}

.loadmore {
  background: #d3d3d3;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px;
  font-weight: 800;
  cursor: pointer;
}

/*========================
        ADD FILE
 =========================*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3b5998;
}

.form-style-5 {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 10px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.sideText {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding-bottom: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

@media only screen and (min-width: 1092px) {
  .form-style-5 {
    display: inline-block;
    min-width: 300px;
    max-width: 500px;
    padding: 10px 20px;
    margin-left: 250px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}

@media only screen and (max-width: 1092px) {
  .sideText {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (max-width: 1092px) {
  .form-style-5 {
    position: absolute;
    top: 20%;
    left: 20%;
    min-width: 350px;
    max-width: 500px;
  }
}

@media only screen and (max-width: 594px) and (min-width: 0px) {
  .form-style-5 {
    position: absolute;
    top: 20%;
    left: 10 %;
    min-width: 250px;
    max-width: 420px;
  }
}
#legend {
  font-size: 7em;
  margin-bottom: 5px;
  margin-right: 40px;
}

#share {
  font-size: 3em;
  margin-left: 50px;
}

#safe {
  margin-left: 50px;
  font-size: 1.5em;
}

#paper-icon {
  font-size: 0.4em;
  padding-bottom: 40px;
}
.form-style-5 legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.form-style-5 label {
  display: block;
  margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 textarea,
.form-style-5 select {
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: white;
  color: black;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 10px;
  border-bottom: 2px white;
}

.form-style-5 select:focus {
  background: #3b5998;
  color: white;
}

.form-style-5 select:hover {
  background: #3b5998;
  color: white;
}

.form-style-5 select {
  -webkit-appearance: menulist-button;
  height: 35px;
}

.form-style-5 button[type="submit"],
.form-style-5 input[type="button"] {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #fff;
  margin: 0 auto;
  background: #3b5998;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  cursor: pointer;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.form-style-5 button[type="submit"]:hover,
.form-style-5 input[type="button"]:hover,
.inputfile + label:hover {
  background: #1a2b91;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  position: relative;
  display: block;
  background-color: #3b5998;
  border: 1px solid #314e98;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  padding: 8px 18px;
  text-decoration: none;
}
